<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!--<target name="logfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}/${date:format=HH}.log" />
    <target name="console" xsi:type="Console" />-->

    <target  name="allfile" xsi:type="File" fileName=".${basedir}/logs/${shortdate}/all${date:format=HH}.log" layout="${longdate}|${message} ${exception}" />
    <target  name="debugfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}/debug${date:format=HH}.log" layout="${longdate}|${message} ${exception}" />
    <target  name="infofile" xsi:type="File" fileName="${basedir}/logs/${shortdate}/info${date:format=HH}.log" layout="${longdate}|${message} ${exception}" />
    <target  name="warnfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}/warn${date:format=HH}.log" layout="${longdate}|${message} ${exception}" />
    <target  name="errorfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}/error${date:format=HH}.log" layout="${longdate}|${message} ${exception}" />
    <target  name="fatalfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}/fatal${date:format=HH}.log" layout="${longdate}|${message} ${exception}" />
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Error" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="console" />-->

    <logger name="*" minlevel="Trace" writeTo="allfile,debuge" />
    <logger name="*" level="Info" writeTo="infofile" />
    <logger name="*" level="debug" writeTo="debugfile" />
    <logger name="*" level="warn" writeTo="warnfile" />
    <logger name="*" level="error" writeTo="errorfile" />
    <logger name="*" level="fatal" writeTo="fatalfile" />
  </rules>
</nlog>